__pycache__/utils.cpython-310.pyc
logs/*
models/**
data/cached_**
collect_env.py
encoder_decoders/models/**
flask/__pycache__/llama2_7b_4bit.cpython-310.pyc
vector_search/vectorstore/db_faiss/index.faiss
vector_search/vectorstore/db_faiss/index.pkl
vector_search/vectorstore/db_faiss2/index.faiss
vector_search/vectorstore/db_faiss2/index.pkl
data/QA.txt
capability_test/__pycache__/l**
capability_test/llama2_7b_4bit_qa_generator_2.py
capability_test/noc_qa_data2.txt
data/story3.txt
results/denoised/**

xinference.log
